/* NOTE: this is not the official Salesforce Style Sheets - just hacking for now!!!  */

body
{
	margin: 0 0 30px 0;
	padding: 0;
	background: #FFF;
	font-size: 75%;
	font-family: "arial", "verdana", "tahoma", "georgia", "trebuchet ms";
	color: #666;
}

img
{
	border: 0;
}

#container
{
	margin: 0 auto;
	width: 1000px;
}

#headercont
{
	width: 1000px;
	height: 100px;
    border-bottom: 2px solid #199BD2
}

#headerleft
{
	float: left;
	width: 400px;
	height: 100px;
}

#headerleft h1
{
	margin: 48px 0 0 15px;
	padding: 0;
	font-size: 220%;
	font-weight: normal;
	color: #F90;
	letter-spacing: -1px;
}

#headerleft h1 span
{
	color: #FFC875;
	font-weight: normal;
}
#headerleft h1 a
{
    margin: 48px 0 0 15px;
    font-size: 100%;
    color: #F90;
	font-weight: normal;
}

#headerright
{
	float: left;
	width: 600px;
	height: 100px;
}

#headerright ul
{
	margin: 55px 15px 0 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
	color: #CCC;
}

#headerright ul li
{
	display: inline;
	margin: 0 0 0 10px;
}

#headerright ul li a
{
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

#headerright ul li a.active
{
	text-decoration: none;
	color: #F90;
	font-weight: bold;
}

#headerright ul li a:hover
{
	text-decoration: none;
	color: #333;
}

.maincont
{
	width: 1000px;
	line-height: 160%;
	padding: 15px 0 0 0;
	border-bottom: 2px solid #F90;
}

.maincont p
{
	margin: 0 15px 15px 15px;
}

.maincont h2, h3
{
	margin: 0 0 15px 0;
	padding: 5px 15px;
	font-size: 120%;
	font-weight: normal;
	color: #F90;
	border-bottom: 1px solid #E5E5E5;
}

